root/pkgs/Wadl/SendWhatsapp.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/whatsapp-5ff7e120497f2f7876-5f3dc547195d1299c5" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="SendWhatsapp" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="SendWhatsapp"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/whatsapp-5ff7e120497f2f7876-5f3dc547195d1299c5" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="send_param_body_def_message_type_def" />
      <string name="send_param_body_def_to_def" />
      <object name="send_param_body_def_location_def" />
      <string name="send_param_body_def_text_def" />
      <object name="send_param_body_def">
        <property name="message_type" type="string" />
        <property name="to" type="string" />
        <property name="location" typeRef="send_param_body_def_location_def" />
        <property name="text" type="string" />
      </object>
      <string name="send_responses_default_def_status_def" />
      <string name="send_responses_default_def_business_phone_def" />
      <string name="send_responses_default_def_message_def_text_def" />
      <object name="send_responses_default_def_message_def">
        <property name="text" type="string" />
      </object>
      <string name="send_responses_default_def_user_phone_def" />
      <string name="send_responses_default_def_error_def" />
      <string name="send_responses_default_def_message_type_def" />
      <string name="send_responses_default_def_message_id_def" />
      <object name="send_responses_default_def">
        <property name="status" type="string" />
        <property name="business_phone" type="string" />
        <property name="message" typeRef="send_responses_default_def_message_def" />
        <property name="user_phone" type="string" />
        <property name="error" type="string" />
        <property name="message_type" type="string" />
        <property name="message_id" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/whatsapp-5ff7e120497f2f7876-5f3dc547195d1299c5">
    <resource path="/{connectionId}/zc/whatsapp/message/send">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="send" actionName="send" siena:isDeprecated="false">
        <request>
          <param style="query" name="token" type="xs:string" />
          <param style="query" name="organization" type="xs:string" />
          <representation mediaType="application/json">
            <param style="plain" name="message_type" path="/message_type" type="xs:string" />
            <param style="plain" name="to" path="/to" type="xs:string" />
            <param style="plain" name="location" path="/location" type="service:send_param_body_def_location_def" />
            <param style="plain" name="text" path="/text" type="xs:string" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:send_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_whatsapp-5ff7e120497f2f7876-5f3dc547195d1299c5" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>